body {
    font-family: sans-serif;
    background-color: black;
    border: 3px solid white;
    border-radius: 30px;
    text-align: center;
}

h1 {
    text-align: center;

}

footer {
   border: 3px solid white;
    border-radius: 30px; 
    color: white; 
    margin-bottom:20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 36px;
}
 img{
    border: 3px solid white;
    border-radius: 30px; 
    width:292px; 
    height:114px;
    margin-bottom:200px;
 }

 li{
     font-size: 36px;
 }
